* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Styling with grid*/

#filter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  font-size: 20px;
}

.filter {
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}

.filter:hover {
  background-color: #666;
}
body {
  background-image: url("assets/laney-smith-FwNUSwJDZIQ-unsplash.jpg");
  image-rendering: pixelated;
}

/*Student css*/

td {
  color: white;
}
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
}
#list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}

#list thead {
  grid-column: 1 / -1;
}

#list thead th {
  background-color: #ccc;
  padding: 10px;
  text-align: center;
}

#list tbody {
  display: contents;
}

#list tbody tr {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
}

#list tbody td {
  text-align: center;
}

#list tbody img {
  max-width: 100%;
  height: auto;
}

/*Sorting*/
[data-action] {
  cursor: pointer;
}

#sorting th {
  filter: grayscale(100%);
}

#sorting th.sortby {
  text-decoration: underline;
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: "⇓";
}

#sorting th.sortby[data-sort-direction="desc"]::after {
  content: "⇑";
}
