body {
  background-color: #945555;
}

#holder {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1em;
  justify-content: center;
  padding-top: 200px;
  background-image: url(/medium/babushka.jpg);
}
.valgt {
  background-color: orange;
  color: black;
}
article {
  padding: 0.5em;
  border: 3px solid orange;
  border-radius: 1em;
  background-color: white;
}

#popop {
  display: none;
  position: fixed;
  left: 0;
  top: 100px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
}

#popop article {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  border-radius: 25px;
  padding: 12px;
  background-color: white;
}

#popop p {
  font-weight: bold;
}

#popop span {
  font-weight: normal;
}

img {
  max-width: 100%;
  border-radius: 0.5em;
}

/* Styling fr */

header {
  position: fixed;
  width: 100vw;
  background-color: rgb(68, 98, 147);
  margin: -10px;
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.276));
}

.logo {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-family: "Chonburi";
  color: white;
}

nav {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

li {
  list-style: none;
  align-self: center;
  cursor: pointer;
  padding-inline: 15px;
  background-color: #601212;
  font-family: "Chonburi";
  color: white;
}

li:hover {
  margin: -4px;
  background-color: white;
  color: #601212;
  border: 4px solid #601212;
}
article h2,
article h3 {
  font-family: "Chonburi";
  line-height: 1.4rem;
}

article p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.3rem;
  margin-top: -0.5rem;
}
.main-menu.shown ul {
  border-top: 1px solid #000;
  padding-top: 0.3rem;
  padding-left: 1em;
  gap: 0.1rem;

  display: flex;
  flex: 1 1 100%;
  flex-flow: column;
}

.toggle-btn {
  display: block;
  cursor: pointer;
  all: unset;
  padding-left: 15rem;
}

.main-menu {
  display: contents;
}

.main-menu ul {
  display: none;
}

header ul li a:hover {
  color: var(--cookie-color);
}
@media (min-width: 500px) {
  .toggle-btn {
    /* background: transparent;
    border: none;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer; */

    display: none; /* Skjul knappen som standard */
  }

  .main-menu ul {
    display: flex;
    justify-content: flex-end;
    overflow-x: auto;
  }
}

@media (min-width: 1200px) {
  #popop article {
    width: 50vh;
  }
  header {
    display: grid;
    grid-template-columns: 150px auto 150px;
  }

  .billede {
    width: 150px;
  }
  main {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 1em;
    justify-content: center;
    padding: 300px;
    padding-top: 70px;
  }
  .logo {
    font-weight: bold;
    font-family: "Chonburi";
    color: white;
    padding-left: 70px;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    overflow-x: unset;
  }
  .toggle-btn {
    /* background: transparent;
    border: none;
    min-width: 44px;
    min-height: 44px;
    font-size: 1.1rem;
    cursor: pointer; */

    display: none; /* Skjul knappen som standard */
  }

  .main-menu ul {
    display: flex;
    justify-content: center;
    font-family: "Chonburi";
  }
}
